{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 100,
  "trailingComma": "all",
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": ["^vue", "^@nuxt", "^@vueuse", "^lucide", "^~/", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "tailwindStylesheet": "./app/assets/css/main.css"
}
